---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Change font
// Change some colors


@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";



@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


h1, h2, h3 {
  color: lime;
}

body {
  font-family: 'Quantico';
  color: chartreuse;
  background-color: black;
}

a {
  color: blueviolet;
  &:visited {
    color: mediumslateblue;
  }
}

.site-nav.nav-item {
  color: chartreuse;
}

li.p-name {
  color: lightgray;
}

.site-header {
  background-color: #290244;
}

.footer-col {
  p{
    color: lightgray
  }
}

.site-title {
  &:visited{
    color: lime;
  }
}

span {
  color: lightgray;
}

.post-meta {
  color: lightgray;
}

.post-link {
  color: lime;
}